
.App header {
  background: #eee;
  /* border-bottom: 1px solid #eee; */
  margin: 0 0 20px 0;
  padding: 20px;
}

/* .App header h1{
  display:inline-block;
  margin-right: 20px;
} */

.subtext{
  color: #aaa;
  font-size: .8em;
}

.btn.icon{
    margin-bottom: 15px;
    padding-right: 20px;
}

.btn.icon span{
  border-right: 1px solid #5aa;
  padding-right: 15px;
  margin-right: 15px;
}

/* -------------------------------------------------------------------------- */
.task-container{
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.task-list{
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
}

.show-completed,
.task-list .task input{
  margin-right: 10px;
}

.task-list .task.completed{
  text-decoration: line-through
}

/* -------------------------------------------------------------------------- */

#taskModal .modal-body {
  padding-top: 0;
}

.task-label {
  margin: 15px 0 0 0;
  font-size: .8em;
}

/* DayPickerInput input didn't like bootstrap's form-control class */
.DayPickerInput, .DayPickerInput input{
  width:100%;
}
/* DayPickerInput input didn't like bootstrap's form-control class */
.DayPickerInput input{
    padding: .375rem .75rem;
    border-radius: .25rem;
    border: 1px solid #ced4da;
}
